{% if _env_ == 'live' %}
[1;31m/-------------------------------------------------------------------------\
{% elif  _env_  == 'stage' %}
[0;33m/-------------------------------------------------------------------------\
{% elif  _env_  == 'test' %}
[1;36m/-------------------------------------------------------------------------\
{% elif  _env_ == 'int' %}
[1;34m/-------------------------------------------------------------------------\
{% elif  _env_  == 'mgmt' %}
[1;38m/-------------------------------------------------------------------------\
{% elif  _env_  == 'devmgmt' %}
[1;35m/-------------------------------------------------------------------------\
{% elif  _env_  == 'green' %}
[1;32m/-------------------------------------------------------------------------\
{% else %}
/-------------------------------------------------------------------------\
{% endif %}
 -----    ----    ------    * Role: {{ _role_ }} Jira: {{ _jira_ }} 
 |  _"\  / __"| u |_ " _|   * Hostname: {{ ansible_fqdn }}
/| | | |<\___ \/    | |     * IP: {{ ansible_default_ipv4['address']}}
U| |_| |\u___) |   /| |\    * OS:{{ ansible_distribution }},{{ ansible_distribution_version}},Kernel:{{ ansible_kernel }}
 |____/ u|____/>> u |_|U    * HardWare: CORES:{{ ansible_processor_vcpus }},MEM:{{ (ansible_memtotal_mb / 1000) | round(1) }} GiB
  |||_    )(  (__)_// \\_   * Environment: {{ _env_ }} DataCenter: {{_datacenter_ }} Location: {{ _location_ }}
 (__)_)  (__)    (__) (__)  * {{ ansible_managed }}
\-------------------------------------------------------------------------/
